<div class="Product_Wall">
    <div class="Product_Wall_title">
            <h1>Product List</h1>
    </div>
    <div class="Product_list_wall">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <!-- Name Column -->
              <ng-container matColumnDef="Product_Name">
                <th mat-header-cell *matHeaderCellDef> Product_Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Product_Name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="Product_Price">
                <th mat-header-cell *matHeaderCellDef> Product_Price </th>
                <td mat-cell *matCellDef="let element"> {{element.Product_Price}} </td>
              </ng-container>

              <ng-container matColumnDef="Product_KG">
                <th mat-header-cell *matHeaderCellDef> Product_KG </th>
                <td mat-cell *matCellDef="let element"> {{element.Product_KG}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="Product_Image">
                <th mat-header-cell *matHeaderCellDef> Product_Image </th>
                <td mat-cell *matCellDef="let element"> <img src="{{element.Product_Image}}" alt=""> </td>
              </ng-container>

              <ng-container matColumnDef="Product_Description">
                <th mat-header-cell *matHeaderCellDef> Product_Description </th>
                <td mat-cell *matCellDef="let element"> {{element.Product_Description}} </td>
              </ng-container>
              <ng-container matColumnDef="_id" >
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element" class="Event">
                  <div class="event">
                    <a href="Admin/Edit_Product/{{element._id}}" class="Edit" ><i class="fa-solid fa-pencil"></i></a>
                    <button (click)="Delete(element._id)" ><i class="fa-solid fa-trash-can"></i></button>
                  </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[4, 8, 12]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
    </div>
</div>