<header id="Header_img" class="w-full bg-cover bg-center">
    <div class="Nav hidden xl:flex">
        <div class="Nav_1">
            <a href="">HOME</a>
            <a href="product">OUR MENU</a>
            <a href="">SHOP</a>
        </div>
        <div class="Nav_Image">
            <img src="../../../assets/images/logo-01.png" alt="">
        </div>
        <div class="Nav_2">
            <a href="">HOME</a>
            <a href="">OUR MENU</a>
            <a href="">SHOP</a>
        </div>
    </div>
    <!-- menu respon -->
    <div class="xl:hidden bg-white px-12 w-full mx-auto items-center text-center fixed justify-between ">
        <div class=" my-3 grid grid-cols-5 w-full mx-auto items-center">
            <img src="https://testo-livid.vercel.app/images/logo-01.png" width="120px"
                class="col-end-4 col-span-1 mx-auto" alt="">
            <img src="../../../../assets/images/icon/more.png" (click)="show()" class="ml-auto col-end-7 col-span-2"
                alt="">
        </div>
        <div class="{{chill?'hidden':'block'}}">
            <a class="block font-bold w-full whitespace-nowrap bg-transparent text-sm text-neutral-700 hover:bg-neutral-100"
                href="">HOME</a>
            <a class="block font-bold w-full whitespace-nowrap bg-transparent text-sm text-neutral-700 hover:bg-neutral-100"
                href="">OUR MENU</a>
            <a class="block font-bold w-full whitespace-nowrap bg-transparent text-sm text-neutral-700 hover:bg-neutral-100"
                href="">SHOP</a>
        </div>
    </div>
    <!-- end -->
</header>

<router-outlet></router-outlet>

<footer class="w-full bg-cover bg-center h-[450px]">
    <div class="Footer_Content grid grid-cols-2 gap-5 xl:grid-cols-4">
        <div class="Footer_Content_location">
            <div class="Footer_Content_location_h1">
                <h1>LOCATION</h1>
            </div>
            <div class="Footer_Content_location_p">
                <p>8721 M Central Avenue,</p>
                <p>Los Angeles, CA 90036,</p>
                <p>United States</p>
            </div>
        </div>
        <div class="Footer_Content_working">
            <div class="Footer_Content_working_h1">
                <h1>WORKING HOURS</h1>
            </div>
            <div class="Footer_Content_working_p">
                <p>Mon-Fri: 9:00AM - 10:00PM</p>
                <p>Saturday: 10:00AM - 8:30PM</p>
                <p>Sunday: 12:00PM - 5:00PM</p>
            </div>
        </div>
        <div class="Footer_Content_order">
            <div class="Footer_Content_order_h1">
                <h1>ORDER NOW</h1>
            </div>
            <div class="Footer_Content_order_p">
                <p>Quaerat neque purus ipsum at</p>
                <p>neque dolor primis tempus</p>
                <span>789-654-3210</span>
            </div>
        </div>
        <div class="Footer_Content_Follow">
            <div class="Footer_Content_Follow_h1">
                <h1>FOLLOW US</h1>
            </div>
            <div class="Footer_Content_Follow_p">
                <p>Quaerat neque purus ipsum at</p>
                <p>neque dolor primis tempus</p>
                <div class="Icon_media">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</footer>