<header>
    <div class="Nav">
        <div class="Nav_1">
            <a href="">HOME</a>
            <a href="">OUR MENU</a>
            <a href="">SHOP</a>
        </div>
        <div class="Nav_Image">
            <img src="../../../assets/images/logo-01.png" alt="">
        </div>
        <div class="Nav_2">
            <a href="">HOME</a>
            <a href="">OUR MENU</a>
            <a href="">SHOP</a>
        </div>
    </div>
    <div class="Header_img">
        <img src="assets/images/Section.png" alt="">
    </div>

</header>
<router-outlet></router-outlet>
<footer>
    <div class="Footer_Content">
        <div class="Footer_Content_location">
            <div class="Footer_Content_location_h1">
                <h1>LOCATION</h1>
            </div>
            <div class="Footer_Content_location_p">
                <p>8721 M Central Avenue,</p>
                <p>Los Angeles, CA 90036,</p>
                <p>United States</p>
            </div>
        </div>
        <div class="Footer_Content_working">
            <div class="Footer_Content_working_h1">
                <h1>WORKING HOURS</h1>
            </div>
            <div class="Footer_Content_working_p">
                <p>Mon-Fri: 9:00AM - 10:00PM</p>
                <p>Saturday: 10:00AM - 8:30PM</p>
                <p>Sunday: 12:00PM - 5:00PM</p>
            </div>
        </div>
        <div class="Footer_Content_order">
            <div class="Footer_Content_order_h1">
                <h1>ORDER NOW</h1>
            </div>
            <div class="Footer_Content_order_p">
                <p>Quaerat neque purus ipsum at</p>
                <p>neque dolor primis tempus</p>
                <span>789-654-3210</span>
            </div>
        </div>
        <div class="Footer_Content_Follow">
            <div class="Footer_Content_Follow_h1">
                <h1>FOLLOW US</h1>
            </div>
            <div class="Footer_Content_Follow_p">
                <p>Quaerat neque purus ipsum at</p>
                <p>neque dolor primis tempus</p>
                <div class="Icon_media">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="Footer_Backgound">
        <img src="https://jthemes.net/themes/html/testo/files/images/banner-4.jpg" alt="">
    </div>

</footer>