<main>
    <div class="products_by_category">
        <div class="category">
            <ul class="category_icon">
                <li>
                    <div class="Text">
                        <h2>BERGERS</h2>
                    </div>
                </li>
                <li>
                    <div class="Text">
                        <h2>SIDES</h2>
                    </div>
                </li>
                <li>
                    <div class="Text">
                        <h2>SALADS</h2>
                    </div>
                </li>
                <li>
                    <div class="Text">
                        <h2>DESSERTS</h2>
                    </div>
                </li>
            </ul>
        </div>
        <div class="products">
            <div class="products_wall">
                <div class="product_List">
                    <div class="product_List_img">
                        <div class="product_List_heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="product_List_img_child">
                            <img src="../../../../assets/images/burger-06.png.png" alt="">
                        </div>
                        <div class="product_List_img_Text">
                            <div class="product_List_img_Text_price">
                                <p>$8.95</p>
                            </div>
                            <div class="product_List_img_Text_Star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product_List_detail">
                        <div class="product_List_detail_h1">
                            <h2>ULTIMATE BACON</h2>
                        </div>
                        <div class="product_List_detail_description">
                            <p>Fried chicken breast, chilli sauce,
                              <br> tomatoes, pickles, coleslaw</p>
                        </div>
                        <div class="product_List_detail__button">
                           <a href="">ADD TO CART</a>
                        </div>

                    </div>
                </div>
                <div class="product_List">
                    <div class="product_List_img">
                        <div class="product_List_heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="product_List_img_child">
                            <img src="../../../../assets/images/burger-02.png.png" alt="">
                        </div>
                        <div class="product_List_img_Text">
                            <div class="product_List_img_Text_price">
                                <p>$8.95</p>
                            </div>
                            <div class="product_List_img_Text_Star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product_List_detail">
                        <div class="product_List_detail_h1">
                            <h2>CRISPY CHICKEN</h2>
                        </div>
                        <div class="product_List_detail_description">
                            <p>Fried chicken breast, chilli sauce,
                              <br> tomatoes, pickles, coleslaw</p>
                        </div>
                        <div class="product_List_detail__button">
                           <a href="">ADD TO CART</a>
                        </div>

                    </div>
                </div>
                <div class="product_List">
                    <div class="product_List_img">
                        <div class="product_List_heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="product_List_img_child">
                            <img src="../../../../assets/images/burger-05.png.png" alt="">
                        </div>
                        <div class="product_List_img_Text">
                            <div class="product_List_img_Text_price">
                                <p>$8.95</p>
                            </div>
                            <div class="product_List_img_Text_Star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product_List_detail">
                        <div class="product_List_detail_h1">
                            <h2>SMOKEY HOUSE</h2>
                        </div>
                        <div class="product_List_detail_description">
                            <p>Fried chicken breast, chilli sauce,
                              <br> tomatoes, pickles, coleslaw</p>
                        </div>
                        <div class="product_List_detail__button">
                           <a href="">ADD TO CART</a>
                        </div>

                    </div>
                </div>
                <div class="product_List">
                    <div class="product_List_img">
                        <div class="product_List_heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="product_List_img_child">
                            <img src="../../../../assets/images/burger-01.png.png" alt="">
                        </div>
                        <div class="product_List_img_Text">
                            <div class="product_List_img_Text_price">
                                <p>$8.95</p>
                            </div>
                            <div class="product_List_img_Text_Star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product_List_detail">
                        <div class="product_List_detail_h1">
                            <h2>TURKEY BURGER</h2>
                        </div>
                        <div class="product_List_detail_description">
                            <p>Fried chicken breast, chilli sauce,
                              <br> tomatoes, pickles, coleslaw</p>
                        </div>
                        <div class="product_List_detail__button">
                           <a href="">ADD TO CART</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Banner">
        <div class="Banner_wall">
            <div class="Banner_Order">
                <div class="Banner_Order_wall">
                    <h4>THE</h4>
                    <h1>COUNTRY</h1>
                    <h1>GENERAL</h1>
                    <p>Semper lacus cursus porta a primis feugiat ligula</p>
                    <p>risus auctor rhoncus semper undo</p>
                    <div class="button">
                        <a href="">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <div class="Banner_Image">
                <img src="../../../../assets/images/promo-11-img.png.png" alt="">
            </div>
            <div class="Banner_Product">
                <div class="Banner_Product1">
                    <div class="Banner_Product1_img">
                        <img src="../../../../assets/images/burger-02.png.png" alt="">
                    </div>
                    <div class="Banner_Product1_text">
                        <h3>
                            <a href="">Ultimate Bacon Burger</a>
                        </h3>
                    </div>
                </div>
                <div class="Banner_Product1">
                    <div class="Banner_Product1_img">
                        <img src="../../../../assets/images/burger-05.png.png" alt="">
                    </div>
                    <div class="Banner_Product1_text">
                        <h3>
                            <a href="">Grilled Chicken Burger</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Menu">
        <div class="Menu_title">
            <div class="Menu_title_child">
                <h1>EXPLORE OUR MENU</h1>
                 <p>Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis</p>
                <p>libero tempus, blandit a cursus varius magna</p>
            </div>
        </div>
        <div class="Menu_Product">
            <div class="Menu_Product_child">
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Menu_Product_item">
                    <div class="Menu_Product_item_img">
                        <img src="../../../../assets/images/burger-11.jpg.png" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                             <div class="Menu_Product_item_child_title">
                                <h1>CRISPY CHICKEN</h1>
                                <p>Chicken breast, chilli sauce, tomatoes, pickles, coleslaw</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>$8.50</p>
                                </div>
                                <div class="Menu_Product_item_child_button_cart">
                                    <a href="">Add To Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>