<main>
    <div style="margin: 60px 0;" class="products_by_category">
        <div style="text-align: center;margin: 0 auto;" class="grid grid-cols-4 w-[50vw]">
            <div *ngFor="let item of Category.data;">
                <button class="font-bold uppercase text-[20px]"
                    (click)="GetId_Category(item._id)">{{item.Name_Category}}
                </button>
            </div>
        </div>

        <div style="margin: 40px 0;" class="products">
            <div class="products_wall mx-auto md:grid md:grid-cols-2 xl:grid-cols-4 gap-5">
                <div class="product_List" *ngFor="let item of CurrentData">
                    <div class="product_List_img">
                        <div class="product_List_heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="product_List_img_child">
                            <img src="{{item.Product_Image}}" alt="">
                        </div>
                        <div class="product_List_img_Text">
                            <div class="product_List_img_Text_price">
                                {{item.Product_Price}}
                            </div>
                            <div class="product_List_img_Text_Star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product_List_detail">
                        <div class="product_List_detail_h1">
                            <h2>{{item.Product_Name}}</h2>
                        </div>
                        <div class="product_List_detail_description">
                            {{item.Product_Description}}
                        </div>
                        <div class="product_List_detail__button">
                            <a routerLink="/product/{{item._id}}">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Banner">
        <div class="Banner_wall grid grid-cols-2 xl:flex">
            <div class="Banner_Order">
                <div class="Banner_Order_wall">
                    <h4>THE</h4>
                    <h1>COUNTRY</h1>
                    <h1>GENERAL</h1>
                    <p>Semper lacus cursus porta a primis feugiat ligula</p>
                    <p>risus auctor rhoncus semper undo</p>
                    <button class="button">
                        ORDER NOW
                    </button>
                </div>
            </div>
            <div class="Banner_Image">
                <img src="../../../../assets/images/promo-11-img.png.png" alt="">
            </div>
            <div class="Banner_Product ">
                <div class="Banner_Product1">
                    <div class="Banner_Product1_img">
                        <img src="../../../../assets/images/burger-02.png.png" alt="">
                    </div>
                    <div class="Banner_Product1_text">
                        <h3>
                            <a href="">Ultimate Bacon Burger</a>
                        </h3>
                    </div>
                </div>
                <div class="Banner_Product1">
                    <div class="Banner_Product1_img">
                        <img src="../../../../assets/images/burger-05.png.png" alt="">
                    </div>
                    <div class="Banner_Product1_text">
                        <h3>
                            <a href="">Grilled Chicken Burger</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Menu">
        <div class="Menu_title">
            <div class="Menu_title_child">
                <h1>EXPLORE OUR MENU</h1>
                <p>Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis</p>
                <p>libero tempus, blandit a cursus varius magna</p>
            </div>
        </div>
        <div class="Menu_Product">
            <div class="Menu_Product_child mx-auto md:grid md:grid-cols-2 xl:grid-cols-4 gap-5">
                <div class="Menu_Product_item" *ngFor="let item of CurrentMenu">
                    <div class="Menu_Product_item_img">
                        <img src="{{item.Product_Image}}" alt="">
                    </div>
                    <div class="Menu_Product_item_title">
                        <div class="Menu_Product_item_title_wall">
                            <div class="heart">
                                <div class="heart_star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <div class="heart_icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                            <div class="Menu_Product_item_child_title">
                                <h1>{{item.Product_Name}}</h1>
                                <p>{{item.Product_Description}}</p>
                            </div>
                            <div class="Menu_Product_item_child_button ">
                                <div class="Menu_Product_item_child_button_price">
                                    <p>${{item.Product_Price}}</p>
                                </div>
                                <button routerLink="/product/{{item._id}}" class="Menu_Product_item_child_button_cart">
                                    Add To Card
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>