*{
    padding: 0;
    margin: 0;
}
.wall{
    width: 98.9vw;
    height: 100vh;
    display: flex;
    .Appbar{
        width: 16%;
        height: 100%;
        background-color: #F3F4F6;
        .logo{
            width: 100%;
            height: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo_wall{
                width: 80%;
                height: 100%;
            }
        }
        .Menu{
            width: 100%;
            height: 40%;
            .App{
                width: 85%;
                margin-left: 10%;
                height: 100%;
                // background-color: rebeccapurple;
                .App_title{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: 500;
                    color: #6B7280;
                }
                .App_menu{
                    width: 98%;
                    margin-left: 2%;
                    height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-radius: 5px;
                    &:hover{
                        background-color: #E2E4E7;
                        }
                    a{
                        padding: 15px 90px 15px 5px;
                        border-radius: 5px;
                        text-decoration: none;
                        color: #656E7A;
                        font-weight: 600;
                        font-size: 0.9rem;
                        font-family: sans-serif;
                        i{
                            font-size: 1.2rem;
                            margin-right: 10px;
                        }
                
                    }
                }
            }
        }
    }
    .Container{
        width: 84%;
        height: 100%;
    }
}
.wall1{
    width: 100%;
    height: 100%;
    .User{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid #E5E7EB;
        .User_child{
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .User_child{
              width: 80%;
              height: 70%;
              display: flex; 
              .User_child_img{
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 55%;
                    height: 80%;
                    border-radius: 50px;
                }
              }
              .User_child_title{
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                h4{
                    margin-left: 5px;
                    color: #6B7280;
                }
                p{
                    margin-left: 5px;
                    color: #6B7280;
                    font-size: 1rem;
                }
              }
            }
        }
    }
    .main{
        width: 100%;
        height: 92%;
    }
}