<div class="">
    <header class="w-full ">
        <div class="relative ">
            <img class=" w-full h-[420px] object-cover" src="../../../assets/images/Banner3.png" alt="">
        </div>
        <div class=" w-[1140px] mx-auto text-center">
            <div class="absolute w-[1140px] top-0 mt-6">
                <div class=" flex items-center justify-between">
                    <div class="">
                        <img src="../../../assets/images/logo-3.png" alt="logo">
                    </div>
                    <div class="">
                        <ul class="flex items-center">
                            <li class="">
                                <a class="text-white px-3 text-lg font-semibold hover:text-[#F7BE27]" href="">ABOUT</a>
                            </li>
                            <li class="">
                                <a class="text-white px-3 text-lg font-semibold hover:text-[#F7BE27]" href="">OUR
                                    MENU</a>
                            </li>
                            <li class="">
                                <a class="text-white px-3 text-lg font-semibold hover:text-[#F7BE27]" href="">SHOP</a>
                            </li>
                            <li class="">
                                <a class="text-white px-3 text-lg font-semibold hover:text-[#F7BE27]" href="">BLOG</a>
                            </li>
                            <li class="">
                                <a class="text-white px-3 text-lg font-semibold hover:text-[#F7BE27]" href="">HOURS &
                                    LOCATIONS</a>
                            </li>
                            <li class="">
                                <span class="text-[#F7BE27] px-3 text-[28px] font-bold">789-654-3210</span>
                            </li>
                            <li class="">
                                <a href="">
                                    <div class="relative">
                                        <svg width="64px" height="64px" viewBox="-12.96 -12.96 49.92 49.92" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" transform="matrix(1, 0, 0, 1, 0, 0)">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                                stroke="#CCCCCC" stroke-width="0.048"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path
                                                    d="M8 11.01V11M16 11.01V11M8 8V7C8 5.93913 8.42143 4.92172 9.17157 4.17157C9.92172 3.42143 10.9391 3 12 3C13.0609 3 14.0783 3.42143 14.8284 4.17157C15.5786 4.92172 16 5.93913 16 7V8M8 8H6.84027C5.80009 8 4.93356 8.79732 4.84718 9.83391L4.18051 17.8339C4.08334 18.9999 5.00352 20 6.1736 20H17.8264C18.9965 20 19.9167 18.9999 19.8195 17.8339L19.1528 9.83391C19.0664 8.79732 18.1999 8 17.1597 8H16M8 8H16"
                                                    stroke="#ffffff" stroke-width="0.9" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="absolute top-[10px] right-4 items-center">
                                        <i class="fa-solid fa-circle fa-sm text-lg relative"
                                            style="color: #ff0000;"></i>
                                        <span class=" w-full text-white absolute text-xs top-[5.5px] left-0">
                                            1
                                        </span>
                                    </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-white text-[65px] uppercase font-bold my-20 ">
                    {{ product.Product_Name }}
                </div>
            </div>
        </div>
    </header>
    <main class="">
        <div class="w-[1140px] mx-auto">
            <div class="flex justify-between mt-12">
                <div class="">
                    <img class="w-[550px] h-[450px] object-cover" src="{{ product.Product_Image }}" alt="">
                </div>
                <div class="w-[450px]">
                    <div class="text-[34px] font-bold uppercase">
                        {{ product.Product_Name }}
                    </div>
                    <div class="flex items-center mt-2">
                        <i class="fa-solid fa-star fa-sm mr-1" style="color: #F7BE27;"></i>
                        <i class="fa-solid fa-star fa-sm mr-1" style="color: #F7BE27;"></i>
                        <i class="fa-solid fa-star fa-sm mr-1" style="color: #F7BE27;"></i>
                        <i class="fa-solid fa-star fa-sm mr-1" style="color: #F7BE27;"></i>
                        <i class="fa-solid fa-star fa-sm mr-1" style="color: #F7BE27;"></i>
                        <span class="text-[14px]">
                            (3 Customer Reviews)
                        </span>
                    </div>

                    <div class="my-2">
                        <!-- <span class="text-[28px] text-[#BABBBC] font-bold mr-2 line-through">{{ product.price
                            }}$</span> -->
                        <span class="text-[28px] text-[#F7BE27] font-bold mr-2">${{ product.Product_Price }}</span>
                    </div>
                    <div class="text-gray-500">
                        Integer congue magna at pretium purus pretium ligula
                        rutrum risus ultrice luctus ligula congue a vitae auctor
                        sapien gravida enim ipsum congue morbi pretium
                    </div>
                    <div class="my-2">
                        <div class="flex justify-between border-b-2 border-gray-500 border-dotted py-3">
                            <span class="text-[16px] font-bold">Portion Size:</span>
                            <span class="text-[16px] pr-3">{{ product.Product_KG }}g</span>
                        </div>
                        <div class="flex justify-between border-b-2 border-gray-500 border-dotted py-3">
                            <span class="text-[16px] font-bold">Calories:</span>
                            <span class="text-[16px] pr-3">{{ product.Product_KG }}Kj</span>
                        </div>
                    </div>
                    <form class="my-5" (submit)="addToCart(product._id)">
                        <input type="number" name="quantity" id="" [(ngModel)]="quantity" min="1"
                            class="border-2 border-gray-200 appearance-none rounded-[4px] w-20 h-10 pl-2 outline-none focus:border-gray-400 mr-3">
                        <button type="submit" class="w-[180px] h-10 rounded-[4px] bg-[#F7BE27] font-semibold">
                            Add to Cart</button>
                    </form>
                    <div class="">
                        <span class="block text-gray-500 px-5 pb-1">
                            We accept credit cards or cash to a courier
                        </span>
                        <span class="block text-gray-500 px-5 pb-1">
                            Shipping cost is $2 (Free from $35)
                        </span>
                        <span class="block text-gray-500 px-5 pb-1">
                            Order before noon for same day dispatch
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[1140px] mx-auto my-20">
            <div class="flex justify-center">
                <div
                    class="flex items-center justify-center w-[180px] h-10 rounded-[4px] bg-[#F7BE27] font-bold text-center my-5">
                    DESCRIPTION
                </div>
            </div>
            <div class="">
                {{ product.description }}
            </div>
        </div>
        <div class="bg-slate-50 pt-10 pb-24">
            <div class="w-[1140px] mx-auto">
                <div class="flex  justify-center text-[42px] font-bold pb-3">
                    RELATED PRODUCTS
                </div>
                <div class="flex justify-center text-center pb-10">
                    Aliquam augue suscipit, luctus neque purus ipsum neque undo <br>
                    dolor primis libero tempus, blandit a cursus varius magna
                </div>
                <div class="flex justify-between">
                    <div class="w-[260px] border-2 rounded-2xl overflow-hidden">
                        <div class="">
                            <img class="w-full h-56 object-cover" src="../../../assets/images//burger-11.jpg" alt="">
                        </div>
                        <div class="w-full h-44 p-4">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center ">
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <span class="text-gray-400 ">(3)</span>
                                </div>
                                <div class="">
                                    <i class="fa-thin fa-heart fa-xs" style="color: #777b83;"></i>
                                </div>
                            </div>

                            <div class="uppercase font-bold text-[18px] py-1">
                                Crispy Chicken
                            </div>
                            <div class="text-sm text-gray-400">
                                Chicken breast, chilli sauce,
                                tomatoes, pickles,
                            </div>
                            <div class="flex justify-between mt-2 items-center">
                                <button type="submit"
                                    class="w-14 h-8 rounded-[4px] bg-[#642F21] font-bold text-[#F7BE27]">
                                    $900</button>
                                <button type="submit"
                                    class="w-32 h-7 rounded-[3px] bg-[#F7BE27] font-semibold hover:bg-opacity-70">
                                    Add to Cart</button>
                            </div>
                        </div>

                    </div>
                    <div class="w-[260px] border-2 rounded-2xl overflow-hidden">
                        <div class="">
                            <img class="w-full h-56 object-cover" src="../../../assets/images//burger-11.jpg" alt="">
                        </div>
                        <div class="w-full h-44 p-4">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center ">
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <span class="text-gray-400 ">(3)</span>
                                </div>
                                <div class="">
                                    <i class="fa-thin fa-heart fa-xs" style="color: #777b83;"></i>
                                </div>
                            </div>

                            <div class="uppercase font-bold text-[18px] py-1">
                                Crispy Chicken
                            </div>
                            <div class="text-sm text-gray-400">
                                Chicken breast, chilli sauce,
                                tomatoes, pickles,
                            </div>
                            <div class="flex justify-between mt-2 items-center">
                                <button type="submit"
                                    class="w-14 h-8 rounded-[4px] bg-[#642F21] font-bold text-[#F7BE27]">
                                    $900</button>
                                <button type="submit"
                                    class="w-32 h-7 rounded-[3px] bg-[#F7BE27] font-semibold hover:bg-opacity-70">
                                    Add to Cart</button>
                            </div>
                        </div>

                    </div>
                    <div class="w-[260px] border-2 rounded-2xl overflow-hidden">
                        <div class="">
                            <img class="w-full h-56 object-cover" src="../../../assets/images//burger-11.jpg" alt="">
                        </div>
                        <div class="w-full h-44 p-4">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center ">
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <span class="text-gray-400 ">(3)</span>
                                </div>
                                <div class="">
                                    <i class="fa-thin fa-heart fa-xs" style="color: #777b83;"></i>
                                </div>
                            </div>

                            <div class="uppercase font-bold text-[18px] py-1">
                                Crispy Chicken
                            </div>
                            <div class="text-sm text-gray-400">
                                Chicken breast, chilli sauce,
                                tomatoes, pickles,
                            </div>
                            <div class="flex justify-between mt-2 items-center">
                                <button type="submit"
                                    class="w-14 h-8 rounded-[4px] bg-[#642F21] font-bold text-[#F7BE27]">
                                    $900</button>
                                <button type="submit"
                                    class="w-32 h-7 rounded-[3px] bg-[#F7BE27] font-semibold hover:bg-opacity-70">
                                    Add to Cart</button>
                            </div>
                        </div>

                    </div>
                    <div class="w-[260px] border-2 rounded-2xl overflow-hidden">
                        <div class="">
                            <img class="w-full h-56 object-cover" src="../../../assets/images//burger-11.jpg" alt="">
                        </div>
                        <div class="w-full h-44 p-4">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center ">
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <i class="fa-solid fa-star fa-xs mr-0.5" style="color: #F7BE27;"></i>
                                    <span class="text-gray-400 ">(3)</span>
                                </div>
                                <div class="">
                                    <i class="fa-thin fa-heart fa-xs" style="color: #777b83;"></i>
                                </div>
                            </div>

                            <div class="uppercase font-bold text-[18px] py-1">
                                Crispy Chicken
                            </div>
                            <div class="text-sm text-gray-400">
                                Chicken breast, chilli sauce,
                                tomatoes, pickles,
                            </div>
                            <div class="flex justify-between mt-2 items-center">
                                <button type="submit"
                                    class="w-14 h-8 rounded-[4px] bg-[#642F21] font-bold text-[#F7BE27]">
                                    $900</button>
                                <button type="submit"
                                    class="w-32 h-7 rounded-[3px] bg-[#F7BE27] font-semibold hover:bg-opacity-70">
                                    Add to Cart</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer class="w-[1140px] mx-auto py-20">
        <div class="flex justify-between">
            <div class="">
                <img src="../../../assets/images/logo-3.png" alt="">
                <span>
                    © 2020 Testo. All Rights Reserved
                </span>
            </div>
            <div class="font-semibold">
                <span class="block">
                    Los Angeles,
                </span>
                <span class="block">
                    8721 M Central Avenue, CA 90036
                </span>
                <span class="block">
                    Email: hello@yourdomain.com
                </span>
                <span class="block">
                    Call Now: <p class="text-[#F7BE27] px-3 text-[20px] font-bold">789-654-3210</p>
                </span>
            </div>
            <div class="grid grid-cols-3 gap-1">
                <img src="../../../assets/images/Album1.png" alt="">
                <img src="../../../assets/images/Album2.png" alt="">
                <img src="../../../assets/images/Album3.png" alt="">
                <img src="../../../assets/images/Album4.png" alt="">
                <img src="../../../assets/images/Album5.png" alt="">
                <img src="../../../assets/images/Album6.png" alt="">
            </div>
        </div>
    </footer>
</div>