<div>
    <div class="my-20">
        <div class="grid grid-cols-4 w-[800px] text-center mx-auto">
            <div class="">
                <img src="../../../../assets/images/icon/burger.png" class="mx-auto my-2" width="50" alt="">
                <p class="font-bold uppercase text-[20px]">burger</p>
            </div>

            <div>
                <img src="../../../../assets/images/icon/french-fries.png" class="mx-auto my-2" width="50" alt="">
                <p class="font-bold uppercase text-[20px]">SIDES</p>
            </div>

            <div>
                <img src="../../../../assets/images/icon/salad.png" class="mx-auto my-2" width="50" alt="">
                <p class="font-bold uppercase text-[20px]">SALADS</p>
            </div>

            <div>
                <img src="../../../../assets/images/icon/dessert.png" class="mx-auto my-2" width="50" alt="">
                <p class="font-bold uppercase text-[20px]">DESSERTS</p>
            </div>
        </div>
        <div class="grid grid-cols-4 w-[1280px] gap-5 text-center mx-auto mt-20">
            <div>
                <div class="border border-solid py-5 rounded-sm">
                    <img src="../../../../assets/images/burger-06.png.png" class="mx-auto" alt="">
                    <div class="flex justify-between m-5 items-center">
                        <p class="bg-[#642f21] text-[#f7be27] py-1 px-3 rounded-sm font-bold text-[18px]">$8.95</p>
                        <div class="text-[#f7be27]">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="font-bold text-[20px] text-[#642f21] my-3">CRISPY CHICKEN</p>
                    <div class="text-gray-500">Fried chicken breast, chilli sauce, tomatoes, pickles, coleslaw</div>
                    <button class="border border-solid my-5 py-2 px-8 font-bold uppercase rounded-sm" routerLink="">
                        Add to card</button>
                </div>
            </div>

            <div>
                <div class="border border-solid py-5 rounded-sm">
                    <img src="../../../../assets/images/burger-06.png.png" class="mx-auto" alt="">
                    <div class="flex justify-between m-5 items-center">
                        <p class="bg-[#642f21] text-[#f7be27] py-1 px-3 rounded-sm font-bold text-[18px]">$8.95</p>
                        <div class="text-[#f7be27]">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="font-bold text-[20px] text-[#642f21] my-3">CRISPY CHICKEN</p>
                    <div class="text-gray-500">Fried chicken breast, chilli sauce, tomatoes, pickles, coleslaw</div>
                    <button class="border border-solid my-5 py-2 px-8 font-bold uppercase rounded-sm" routerLink="">
                        Add to card</button>
                </div>
            </div>

            <div>
                <div class="border border-solid py-5 rounded-sm">
                    <img src="../../../../assets/images/burger-06.png.png" class="mx-auto" alt="">
                    <div class="flex justify-between m-5 items-center">
                        <p class="bg-[#642f21] text-[#f7be27] py-1 px-3 rounded-sm font-bold text-[18px]">$8.95</p>
                        <div class="text-[#f7be27]">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="font-bold text-[20px] text-[#642f21] my-3">CRISPY CHICKEN</p>
                    <div class="text-gray-500">Fried chicken breast, chilli sauce, tomatoes, pickles, coleslaw</div>
                    <button class="border border-solid my-5 py-2 px-8 font-bold uppercase rounded-sm" routerLink="">
                        Add to card</button>
                </div>
            </div>

            <div>
                <div class="border border-solid py-5 rounded-sm">
                    <img src="../../../../assets/images/burger-06.png.png" class="mx-auto" alt="">
                    <div class="flex justify-between m-5 items-center">
                        <p class="bg-[#642f21] text-[#f7be27] py-1 px-3 rounded-sm font-bold text-[18px]">$8.95</p>
                        <div class="text-[#f7be27]">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="font-bold text-[20px] text-[#642f21] my-3">CRISPY CHICKEN</p>
                    <div class="text-gray-500">Fried chicken breast, chilli sauce, tomatoes, pickles, coleslaw</div>
                    <button class="border border-solid my-5 py-2 px-8 font-bold uppercase rounded-sm" routerLink="">
                        Add to card</button>
                </div>
            </div>

        </div>
    </div>
    <div class="hotline w-full bg-cover bg-center h-[500px]  ">
        <div class="text-center w-[850px] mx-auto py-20">
            <p class="text-[38px] Oswald uppercase">WE GUARANTEE</p>
            <p class="text-[60px] Oswald uppercase font-bold">30 MINUTES DELIVERY!</p>
            <p class="text-[19px]">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis libero
                tempus, blandit a cursus varius luctus neque magna
            </p>
            <button class="text-[22px] text-white bg-red-500 py-3 px-7 mt-6">CALL:0393433049</button>
        </div>
    </div>
</div>