<div class="container w-screen inline">
    <div id="header" class=" w-full bg-cover bg-center h-[450px]">
        <header class="flex relative w-[1290px] mx-auto justify-center items-center py-10">

            <div class="dropdown">
                <button class="item-dropdown p-7 items-center text-white" type="button">
                    Dropdown link
                </button>
                <ul class="dropdown-list ">
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Another action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Something else here</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown ">
                <button class="item-dropdown p-7 flex items-center text-white" type="button">
                    Dropdown link
                </button>
                <div style="width: 100%;padding: 30px;" class="hidden dropdown-list left-0 grid-cols-3  ">
                    <div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>

                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>

                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="400"  alt="">
                        <div>
                            <button routerLink="" class="my-2 font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                LOBORTIS...</button>
                            <p class="text-[14px] ">Donec nec faucibus lobortisfw few ggggg ửeg viverra blandit sem
                                justo</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- logo -->
            <img src="https://testo-livid.vercel.app/images/logo-01.png" width="150px" alt="">
            <!-- end -->
            <div class="relative dropdown">
                <button class="item-dropdown p-7 items-center text-white" type="button">
                    Dropdown link
                </button>
                <ul class="dropdown-list">
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Another action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Something else here</a>
                    </li>
                </ul>
            </div>
            <div class="relative dropdown">
                <button class="item-dropdown p-7 items-center text-white" type="button">
                    Dropdown link
                </button>
                <ul class="dropdown-list">
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Another action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Something else here</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="text-center my-[50px]">
            <div class="item">
                <a href="">Home</a> /
                <a href="">Menu</a>
            </div>
            <div class="item text-[40px] my-5">Menu hehe</div>
        </div>
    </div>
    <main class="bg-gray-200 h-screen">
        <router-outlet></router-outlet>
        <footer>footer</footer>
    </main>
</div>