<div class="container relative w-screen inline">
    <div id="header" class=" w-full bg-cover bg-center h-[450px]">
        <header class="flex hehe  fixed w-full mx-auto justify-center items-center py-10">
            <div class="dropdown">
                <button class="item-dropdown p-7 items-center text-white" type="button">
                    Dropdown link
                </button>
                <ul class="dropdown-list ">
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Another action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Something else here</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown ">
                <button class="item-dropdown p-7 flex items-center text-white" type="button">
                    Dropdown link
                </button>
                <div style="width: 100%;;padding: 30px;" class="hidden dropdown-list left-0 grid-cols-3  ">
                    <div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>

                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>

                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                        <div class="flex">
                            <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="150"
                                alt="">
                            <div class="mx-3">
                                <button routerLink="" class="font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                    LOBORTIS...</button>
                                <span class="text-[14px] my-6">Donec nec faucibus lobortis viverra blandit sem
                                    justo</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img routerLink="" src="https://testo-livid.vercel.app/images/img-05.jpg" width="400" alt="">
                        <div>
                            <button routerLink="" class="my-2 font-bold text-lg hover:text-[#f7be27]">ALIQUAM AND
                                LOBORTIS...</button>
                            <p class="text-[14px] ">Donec nec faucibus lobortisfw few ggggg viverra blandit sem
                                justo</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- logo -->
            <img src="https://testo-livid.vercel.app/images/logo-01.png" width="150px" alt="">
            <!-- end -->
            <div class="dropdown">
                <button class="item-dropdown p-7 items-center text-white" type="button">
                    Dropdown link
                </button>
                <ul class="dropdown-list">
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Another action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Something else here</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="item-dropdown p-7 items-center text-white" type="button">
                    Dropdown link
                </button>
                <ul class="dropdown-list">
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Another action</a>
                    </li>
                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100"
                            href="#" data-te-dropdown-item-ref>Something else here</a>
                    </li>
                </ul>
            </div>

        </header>
        <div class="text-center py-[170px]">
            <div class="item">
                <a href="">Home</a> /
                <a href="">Menu</a>
            </div>
            <div class="item text-[40px] my-5">Menu hehe</div>
        </div>
    </div>
    <main class="h-screen">
        <router-outlet></router-outlet>
        <footer id="footer" class="w-full bg-cover bg-center h-[320px]">
            <div class="grid grid-cols-3 w-[1290px] mx-auto py-20">
                <div>
                    <img width="200" src="https://testo-livid.vercel.app/images/logo-01.png" alt="footer-logo">
                    <p class="text-white mt-4">© 2023 Testo. All Rights Reserved</p>
                </div>
                <div class="text-gray-400 text-[20px] font-bold">
                    <p>Los Angeles,</p>
                    <p>8721 M Central Avenue, CA 90036</p>
                    <p>Email: <a href="/mailto:yourdomain@mail.com">hello@yourdomain.com</a>
                    </p>
                    <p>Call Now: <span class="text-yellow-400 text-[26px]">789-654-3210</span>
                    </p>
                </div>
                <div class="grid grid-cols-3 gap-3 w-[300px] text-right">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-01.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-02.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-03.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-04.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-05.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-06.jpg" alt="">
                </div>
            </div>
        </footer>
    </main>
</div>