<div class="container w-screen inline">
    <div id="header" class=" w-full bg-cover bg-center h-[450px]">
        <header
            class="bg-white px-12 w-full xl:px-[20vw] mx-auto items-center text-center fixed xl:flex justify-between ">

            <!-- respon  -->
            <div class="xl:hidden py-3 bg-white grid grid-cols-5 w-full mx-auto items-center">
                <img src="https://testo-livid.vercel.app/images/logo-01.png" routerLink="/" width="120px"
                    class="col-end-4 col-span-1 mx-auto" alt="">
                <img src="../../../../assets/images/icon/more.png" (click)="show()"
                    class="ml-auto xl:hidden col-end-7 col-span-2" alt="">
            </div>
            <!-- respon  -->


            <!-- logo -->
            <img src="https://testo-livid.vercel.app/images/logo-01.png" routerLink="/" width="150px"
                class="hidden xl:block" alt="">
            <!-- end -->
            <div class="xl:flex">
                <div (click)="MegaClick()"
                    class="dropdown {{chill?'hidden':'block'}} my-2  hover:bg-neutral-100 xl:hover:bg-transparent ">
                    <button class="item-dropdown p-2 xl:p-7 uppercase" type="button">
                        Mega Menu
                    </button>
                    <div style="width: 85%;padding: 30px;"
                        class="dropdown-list {{megaMenuDD?'hidden':'block'}} left-32 grid-rows-3 grid-flow-col">

                        <div *ngFor="let megaMenu of CurrentData" class="flex">
                            <img routerLink="" src="{{megaMenu.Product_Image}}" width="150" alt="">
                            <div class="mx-2 text-left">
                                <button routerLink="/product/{{megaMenu._id}}"
                                    class="font-bold text-lg hover:text-[#f7be27]">{{megaMenu.Product_Name}}</button>
                                <p class="text-[14px] my-6">{{megaMenu.Product_Description}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let product of products;index as i"
                    class=" {{chill?'hidden':'block'}} dropdown my-2 hover:bg-neutral-100 xl:hover:bg-transparent">
                    <button routerLink="/{{product.link}}" class="item-dropdown uppercase p-2 xl:p-7 text-black "
                        type="button">
                        {{product.title}}
                    </button>
                </div>
            </div>
        </header>

        <div class="text-center text-white py-[170px]">
            <div class="item">
                <a href="">Home</a> /
                <a href="">Menu</a>
            </div>
            <div class="item text-[40px] my-5">Menu hehe</div>
        </div>
    </div>

    <main class="h-screen">
        <router-outlet></router-outlet>
        <footer id="footer" class="w-full bg-cover bg-center ">
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 w-[80vw] mx-auto py-20">
                <div>
                    <img width="200" src="https://testo-livid.vercel.app/images/logo-01.png" alt="footer-logo">
                    <p class="text-white mt-4">© 2023 Testo. All Rights Reserved</p>
                </div>
                <div class="text-gray-400 text-[20px] font-bold">
                    <p>Los Angeles,</p>
                    <p>8721 M Central Avenue, CA 90036</p>
                    <p>Email: <a href="/mailto:yourdomain@mail.com">hello@yourdomain.com</a>
                    </p>
                    <p>Call Now: <span class="text-yellow-400 text-[26px]">789-654-3210</span>
                    </p>
                </div>
                <div class="grid grid-cols-3 sm:grid-cols-6 lg:grid-cols-3 gap-3 w-[300px] text-right">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-01.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-02.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-03.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-04.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-05.jpg" alt="">
                    <img width="80" src="https://testo-livid.vercel.app/images/instagram/img-06.jpg" alt="">
                </div>
            </div>
        </footer>
    </main>
</div>