<div class="">

    <main class="">
        <div class="w-[1140px] mx-auto mt-10">
            <div class="flex my-10">
                <div class="w-3/4 bg-white px-10 py-10 ">
                    <div class="flex mt-10 mb-5">
                        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product</h3>
                        <h3 class="font-semibold  text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
                        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
                        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
                        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center"></h3>

                    </div>
                    <!-- products -->
                    <div class="" *ngFor="let item of cartData">
                        <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                            <div class="flex w-2/5 items-center">
                                <div class="">
                                    <img class="w-20 object-cover rounded-full" src="{{item.image}}" alt="">
                                </div>
                                <div class="flex flex-col  ml-4 flex-grow">
                                    <span class="font-bold text-lg">{{item.name}}</span>
                                </div>
                            </div>
                            <div class="flex justify-center w-1/5">
                                <input type="number" name="" id="" value="{{item.quantity}}" min="1"
                                    class="border-2 border-gray-200 appearance-none rounded-[4px] w-20 h-10 pl-2 outline-none focus:border-gray-400 mr-3"
                                    (blur)="updateQuantity($event,item.id)">

                            </div>
                            <span class="text-center w-1/5 font-semibold text-sm">${{item.price}}</span>
                            <span class="text-center w-1/5 font-semibold text-sm">${{item.price * item.quantity}}</span>
                            <span class="text-center w-1/5 font-semibold text-sm">
                                <i class="fa-regular fa-trash-can fa-lg" style="color: #b0b0b0;"
                                    (click)="removeCartItem(item.id)"></i>
                            </span>
                        </div>
                    </div>

                    <a href="#" class="flex font-semibold text-indigo-600 text-sm mt-10">

                        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
                            <path
                                d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                        </svg>
                        Continue Shopping
                    </a>

                    <!-- <button class="border" (click)="logout()">Logout </button> -->
                </div>

                <div id="summary" class="w-1/4 px-8 py-10 shadow-lg rounded-lg">
                    <h1 class="font-semibold text-2xl border-b pb-8">Summary</h1>
                    <div class="flex justify-between mt-10 mb-5">
                        <span class="font-semibold text-sm uppercase">Subtotal</span>
                        <span class="font-semibold text-sm">{{totalAmount}}</span>
                    </div>
                    <div class="flex justify-between mt-10 mb-5">
                        <span class="font-semibold text-sm uppercase">Shipping</span>
                        <span class="font-semibold text-sm">Free</span>
                    </div>
                    <div class="border-t mt-8">
                        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                            <span>Total cost</span>
                            <span>{{totalAmount}}</span>
                        </div>
                        <a href="checkout">
                            <button
                                class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full ">Checkout</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="relative ">
            <img class=" w-full h-[486px] object-cover" src="../../../assets/images/Section-Cart.png" alt="">
        </div>
    </main>
 
</div>