<main class="">
    <div class="flex justify-evenly p-10">
        <div class="w-1/2 border-2 shadow-md rounded-md p-10">
            <div class="flex items-center justify-between">
                <span class="block text-[32px] font-semibold mb-5 mr-5">
                    #ORDER ITEMS
                </span>
                <span class="-ml-36 mb-[20px]"
                    [ngClass]="{'text-yellow-400': orderData.status === 'Pending','text-red-400': orderData.status === 'Failed', 'text-green-400': orderData.status === 'Paid'}">
                    <i class="fa-sharp fa-solid fa-circle fa-xs"></i>
                    {{orderData.status}}
                </span>

                <div class="" *ngIf="orderData.status === 'Pending'">
                    <button class="block mb-[20px] border-2 p-1 bg-green-500 outline-none text-white rounded-md ">
                        Update
                    </button>
                </div>
            </div>
            <div class="flex ">
                <span class="block w-2/5 text-lg font-semibold ">Product</span>
                <span class="block w-1/5 text-lg font-semibold text-end">Price</span>
                <span class="block w-1/5 text-lg font-semibold text-end">Quantity</span>
                <span class="block w-1/5 text-lg font-semibold text-end">Total</span>
            </div>
            <div *ngFor="let item of orderData.product_list" class="flex h-14 items-center hover:bg-slate-100">
                <span class=" w-2/5 flex items-center"><img class="mr-1 w-16 object-cover rounded-full"
                        src="{{item.image}}" alt="anh"> {{item.name}}</span>
                <span class="block w-1/5 text-end">${{item.price}}</span>
                <span class="block w-1/5 text-end">{{item.quantity}}</span>
                <span class="block w-1/5 text-end">${{item.price * item.quantity}}</span>
            </div>
            <div class=" flex h-14 items-center justify-between border-t-2 mt-5">
                <span class="flex font-semibold">TOTAL</span>
                <span class="block ">${{orderData.total}}</span>
            </div>

        </div>
        <div class="w-1/3 border-2 shadow-md rounded-md p-10">
            <div class="border-b-2 pb-3">
                <span class="block text-[32px] font-semibold">
                    #CUSTOMER
                </span>
            </div>
            <div class="py-2 flex items-center justify-between ">
                <span class="text-md font-semibold ">Name: </span>
                <span>{{orderData.name}}</span>
            </div>
            <div class="py-2 flex items-center justify-between">
                <span class="text-md font-semibold ">TEL: </span>
                <span>{{orderData.tel}}</span>
            </div>
            <div class="py-2 flex items-center justify-between">
                <span class="text-md font-semibold ">Address: </span>
                <span>{{orderData.address}}</span>
            </div>
            <div class="border-t-2 pt-3 mt-3">
                <span class="block ">
                    #CUSTOMER
                </span>
            </div>

        </div>
    </div>
</main>