<mat-grid-list cols="3" rowHeight="5:9">
    <mat-grid-tile [colspan]="2">
        <div>
            <mat-card-content class="font-bold text-2xl">Order #{{Product._id}}</mat-card-content>
            <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <!-- Name Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef>Product </th>
                    <img width="100" *matCellDef="let element" src="{{element.image}}" alt="">
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[3, 8, 12]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <mat-card-content class="hihi">
                        <p class="font-bold text-[20px]">Shipping</p>
                        <mat-grid-list cols="3" rowHeight="1:1">
                            <mat-grid-tile>
                                <img src="https://elstar.themenate.net/img/others/img-11.jpg" width="60" alt="">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <p>{{Product.payment_method}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile>$15.00</mat-grid-tile>
                        </mat-grid-list>
                        <button class="button" mat-stroked-button>View Carrier Details</button>
                    </mat-card-content>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card-content class="hihi">
                        <p class="font-bold text-[20px]">Shipping Address</p>
                        <mat-grid-list cols="2" rowHeight="3:1">
                            <mat-grid-tile>Subtotal</mat-grid-tile>
                            <mat-grid-tile>$1,762.00</mat-grid-tile>

                            <mat-grid-tile>Delivery fee</mat-grid-tile>
                            <mat-grid-tile>$15.00</mat-grid-tile>

                            <mat-grid-tile>Tax(6%)</mat-grid-tile>
                            <mat-grid-tile>$105.72</mat-grid-tile>

                            <mat-grid-tile>Subtotal</mat-grid-tile>
                            <mat-grid-tile>$1,870.72</mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-content class="font-bold text-2xl">Customer</mat-card-content>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{Product.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="hehe">
                <p>{{Product.email}}</p>
                <p>{{Product.tel}}</p>
            </mat-card-content>
            <mat-card-content class="hehe">
                <p class="font-bold">Shipping Address</p>
                <p>{{Product.address}}</p>
            </mat-card-content>
            <mat-card-content class="hehe">
                <p class="font-bold">Billing address</p>
                <p>100 Main ST
                    PO Box 1022
                    Seattle WA 98104</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>