<div class="w-full bg-cover bg-center h-screen" style="background-image: url('../../../assets/images/backgroud.png');">
    <div class="w-full bg-cover bg-center h-screen bg-[#0C2F55] bg-opacity-40  flex items-center justify-center">
        <div class="w-[526px] mx-auto bg-gray-900 bg-opacity-95">
            <div class="logo w-full flex items-center justify-center my-4">
                <img src="../../../assets/images/logo-01.png.png" alt="logo">
            </div>
            <form action="/api/signin" [formGroup]="userForm" (ngSubmit)="handleSubmit()">
                <div class="mb-4 w-[430px] mx-auto">
                    <div class=" mt-1 relative rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <svg class="h-5 w-5 text-gray-400" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                                <path d="M20 6L12 13L4 6M20 6V18H4V6H20Z">
                                </path>
                            </svg>
                        </div>
                        <input id="User_email" formControlName="User_email"
                            class="block pl-10 shadow appearance-none border-2 rounded-sm w-full py-2 px-4 text-gray-700 mb-1 h-[52px] leading-tight focus:outline-none focus:bg-white  transition duration-500 ease-in-out"
                            placeholder="Email Address" (input)="clearFieldError('User_email')" />
                    </div>
                    <span *ngIf="errorMessage?.User_email" class="text-red-500 text-sm px-3">{{ errorMessage.User_email
                        }}</span>

                </div>
                <div class="mb-4 w-[430px] mx-auto">
                    <div class=" mt-1 relative rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <svg class="h-5 w-5 text-gray-400" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z">
                                </path>
                            </svg>
                        </div>
                        <input id="User_pasword" type="password" formControlName="User_password"
                            class="block pl-10 shadow appearance-none border-2 rounded-sm w-full py-2 px-4 text-gray-700 mb-1 h-[52px] leading-tight focus:outline-none focus:bg-white  transition duration-500 ease-in-out"
                            placeholder="Password" (input)="clearFieldError('User_password')" />
                    </div>
                    <span *ngIf="errorMessage?.User_password" class="text-red-500 text-sm px-3">{{
                        errorMessage.User_password }}</span>
                </div>

                <div class="my-5 w-[430px] mx-auto">
                    <button
                        class="w-full h-[52px] transition duration-500 bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                        Sign In
                    </button>
                </div>


                <div class="my-6 w-[430px] mx-auto text-center">
                    <div class="flex items-center justify-between">
                        <div>
                            <label class="block font-semibold" for="remember">
                                <input class="ml-2 leading-6" type="checkbox" id="remember" name="remember">
                                <span class="text-sm text-gray-400">
                                    Remember Me
                                </span>
                            </label>
                        </div>
                        <div>
                            <a class="block font-semibold text-sm text-gray-400 hover:text-gray-300"
                                href="#password-request">
                                Forgot Password
                            </a>
                        </div>
                    </div>
                    <p class="my-4 text-sm text-gray-400">Or Login with</p>
                    <div class="my-4 flex justify-center">
                        <img class="mx-1" src="../../../assets/images/facebook.png" alt="">
                        <img class="mx-1" src="../../../assets/images/twitter.png" alt="">
                        <img class="mx-1" src="../../../assets/images/google.png" alt="">
                        <img class="mx-1" src="../../../assets/images/in.png" alt="">
                    </div>
                    <p class="my-4 text-sm text-gray-400">
                        Not a member
                        <a class="font-semibold text-sm text-gray-300" href="signup">
                            Sign Up Now
                        </a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>